/* regole generali */
*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

/* inizio hearder */
header{
  height: 500px;
  background-color: #0d325a;
  background-image: url("../img/sfondo.png");
  background-repeat: no-repeat;
  background-size: 50% 85%;
  background-position: right bottom;
}

/* navbar */
.navbar{
  width: 80%;
  height: 75px;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.navbar:after{
  content: "";
  display: table;
  clear: both;
}

.navcol1, .navcol2{
  float: left;
}

.navcol1{
  width: 15%;
  margin-top: 15px;
}

.navcol2{
  width: 50%;
}

.navcol3{
  float: right;
  width: 35%;
  text-align: center;
}

.navbar ul{
  list-style-type: none;
}

.navbar li{
  font-size:11px;
  display: inline-block;
  margin-top: 33px;
  margin-left: 10px;
}

.navbar a{
  text-decoration: none;
  color: white;
}

.link:hover{
  color: orange;
}

.push-button{
  padding: 7px;
  border: solid 1px;
  border-radius: 3px;
}

.push-button.log{
  padding-left: 20px;
  padding-right: 20px;
}

.push-button.green{
  background-color: #7fb802;
  border-color: #7fb802;
}


/* row1 */
.row1{
  height: 400px;
  width: 50%;
  color: white;
}

.slogan{
  font-size: 50px;
  margin-left: 90px;
  margin-top: 100px;
}

.row1 a.push-button{
  text-decoration: none;
  color: white;
  margin-left: 90px;
}
/* fine header */

/* inizio main */
main{
  height:4000px;
  background-color: grey;
}

/* blocco1 */
.blocco1{
  height: 150px;
  background-color: #f9f9f9;
}

.blocco1 p{
text-align: center;
}

#txt1{
  color: #373a3c;
  font-size: 24px;
  padding-top: 45px;
}

#txt2{
  color: #999;
  font-size: 18px;
  padding-top: 10px;
}
/* fine blocco1 */

/* blocco2 */
.blocco2{
  height: 550px;
}

.method{
  width: 33.33%;
  height: 550px;
  background-color: white;
  float: left;
}

.method:after{
  content: "";
  display: table;
  clear: both;
}

.method.profile img{
  width: 150px;
  margin-left: 50%;
  margin-top: 30px;
}

.method.pc img{
  width: 200px;
  margin-left: 40%;
  margin-top: 60px;
}

.method.doc img{
  width: 150px;
  margin-left: 30%;
  margin-top: 60px;
}

.method.profile p{
  font-size: 25px;
  color: #7fb802;
  margin-top: 50px;
  margin-left: 130px;
  text-align: center;
}
.method.pc p{
  font-size: 25px;
  color: #7fb802;
  margin-left: 90px;
  margin-top: 60px;
  text-align: center;
}
.method.doc p{
  font-size: 25px;
  color: #7fb802;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  text-align: center;
}

#plan{
  font-size: 17px;
  color: lightgrey;
  margin-top: 50px;
  margin-left: 130px;
  text-align: center;
}

#tutor{
  font-size: 17px;
  color: lightgrey;
  margin-top: 75px;
  margin-left: 130px;
  text-align: center;
}

#achievement{
  font-size: 17px;
  color: lightgrey;
  margin-top: 45px;
  margin-left: 75px;
  text-align: center;
}

/* fine blocco2 */

/* blocco3 */
.blocco3{
  height: 550px;
}

.level{
  width: 50%;
  height: 550px;
  background-color: white;
  float: left;
}

.level:after{
  content: "";
  display: table;
  clear: both;
}

.level.climb img{
width: 70%;
height: 350px;
margin-left: 23%;
margin-top: 4.5%;
}

footer{
  height: 500px;
  background-color: #0d325a;
}
