*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

header{
  height: 500px;
  background-color: #0d325a;
  background-image: url("../img/sfondo.png");
  background-repeat: no-repeat;
  background-size: 50% 85%;
  background-position: right bottom;
}

.navbar{
  width: 80%;
  height: 75px;
  margin: 0 auto;
  background-repeat: no-repeat;
}

.navbar:after{
  content: "";
  display: table;
  clear: both;
}

.navcol1, .navcol2{
  float: left;
}

.navcol1{
  width: 20%;
}

.navcol2{
  width: 45%;
}

.navcol3{
  float: right;
  width: 35%;
}

.navbar ul{
  list-style-type: none;
}

.navbar li{
  font-size:8.5px;
  display: inline-block;
}

.navbar a{
  text-decoration: none;
  color: white;
}

.link:hover{
  color: orange;
}



.slogan{
  height: 400px;
  width: 50%;
  color: white;
}

main{
  height:4000px;
  background-color: grey;
}

footer{
  height: 500px;
  background-color: #0d325a;
}
